<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Raspycar</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/static/raspycar.js"></script>
</head>
<body>
  <div class="container-sm">
    <div class="row mb-3">
      <div class="col-6 text-center">
        <div class="row mb-3">
          <div class="col-12">
            <button class="btn" data-control="forward">
              <i class="fa fa-5x fa-arrow-up"></i>
            </button>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <button class="btn" data-control="left">
              <i class="fa fa-5x fa-arrow-left"></i>
            </button>
          </div>
          <div class="col-4">
            <button class="btn text-danger" data-control="stop">
              <i class="fa fa-5x fa-hand-paper-o"></i>
            </button>
          </div>
          <div class="col-4">
            <button class="btn" data-control="right">
              <i class="fa fa-5x fa-arrow-right"></i>
            </button>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <button class="btn" data-control="reverse">
              <i class="fa fa-5x fa-arrow-down"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-6">
        {% if video_url %}
          <img src="{{video_url}}">
        {% endif %}  
      </div>
    </div>
  </div>
</body>
</html>